In [2]:
import pandas as pd

In [18]:
frame = pd.DataFrame({'chars':['a']*10,'numbers':range(10)})

In [19]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [20]:
frame.dtypes

chars      object
numbers     int64
dtype: object